*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.bg-yel{
    background-color: #9DBC98;
}

.bg-standart{
    background-color: #F2F1EB ;
}

h1{
    font-weight: 800;
}

.logo{
    font-family: "Trochut", sans-serif;
    font-weight: 700;
    color: #527853;
}

.logo span{
    color: #EE7214;
}

.navbar{
    font-weight: 600;
    background-color: #F2F1EB;
}

.main-content{
    background-color: #F9EFDB;
} 

.foto{
    top: 538px;
    right: 112px;
}

.main-banner{
    width: 100%;
    align-items: center;
}

.explanation{
    padding: 70px 35px;
    width: 70%;
    background-color: #638889;
    color: #F2F1EB;
}

.explanation span{
    color: #EE7214;
}

.explanation h1{
    font-weight: 800;
    margin-left: 20px;
}

.explanation p{
    margin-top: 30px;
    width: 60%;
    margin-left: 20px;
}

.banner-img{
    width: 50%;
    margin-left: 30px;
}

.main-menu{
    background-color: #F2F1EB;
}

.catalog-title h1{
    font-size: 50px;
}

.catalog-title h5{
    margin: 10px 15%;
}

.go-to-btn{
    margin-top: 30px;
}

.carousel{
    background-color: #F2F1EB;
}

footer {
    margin-top: 50px;
    background-color: #135D66;
    color: #ced4da;
    font-size: 14px;
  }

footer .row-content .logo-brand {
    font-size: 30px;
    color: #B4D51E;
}

footer .row-content h3 {
    font-size: 25px;
    color: #B4D51E;
}

footer .row-content ul{
    list-style: none;
}

footer .row-content a {
    color: #ced4da;
    text-decoration: none;
}

footer .row-content a:hover {
    color: #faf5d2;
}

footer .row-copy i {
    font-size: 25px;
    color: #B4D51E;
}

/* makanan */

.makanan img{
    width: 500px;
    height: 500px;
}

.makanan-title{
    padding-top: 150px;
    margin-left: 30px;
}

.makanan-title h1{
    font-size: 45px;
}

.makanan-title p{
    margin-top: 10px;
    font-size: 17px;
    width: 90%;
}

.star i{
    color: #FFC94A;
    font-size: 25px;
}

.ingredient h1{
    text-align: center;
    font-size: 50px ;
}

.card-text span{
    font-weight: 600;
}

